.infobar {
  width: 100%;
  color: white;
  background-color: #6c41ec;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.infobar p{
  max-width: 800px;
}